<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">

{% block content %}

<h1>Registration form</h1>
<h2>Currently registerd planes</h2>
<!-- http://css.maxdesign.com.au/listutorial/index.htm -->
<ul class="list_nobullet">
    <li class="list_header">
        <span class="field_space black_font">Name</span>
        <span class="field_space black_font">Plane</span>
        <span class="field_space black_font">Booked</span>
    </li>
    {% for plane in planes %}
    <li class="{{ loop.cycle('line_clear', 'line_gray') }}">
        <span class="field_space">{{ plane.name }}</span>
        <span class="field_space">{{ plane.plane }}</span>
        <span class="field_space"> {{ plane.when }}</span>
    </li>
    {% endfor %}
</ul>

<h2>Register you plane</h2>
<form method="post" action="/single_page_register">
    <div>
        <h3><span class="field_large">Name</span><input type="text" name="name"/></h3>
        <h3><span class="field_large">Model Plane</span><input type="text" name="plane"/></h3>
        <h3><span class="field_large">Timeslot</span>
            <select name="when">
                <option>10am</option>
                <option>12am</option>
                <option>14am</option>
                <option>16am</option>
            </select>
        </h3>
    </div>
    <input type="submit" value="Press me"/>
</form>
{% endblock %}
