h1 {
    color: deepskyblue;
}

.field_space {
    color: grey;
    float: left;
	width: 80px;
}

.field_large {
    color: grey;
    float: left;
	width: 160px;
}

//.list_nobullet {
    list-style-type: none;
}

.line_clear {
	background-color: white;
	width: 240px;
}

.line_gray {
	background-color: lightgray;
	width: 240px;

}

/* alternate color using css3 */
// li { background: green; }
// li:nth-child(odd) { background: lightgray; }

/* http://css.maxdesign.com.au/listutorial/index.htm */
.list_header {
	background-color: darkgray;
	width: 240px;
}


.black_font {
    color: black;
}