h1 {
    color: deepskyblue;
}

.field_space {
    color: grey;
    float: left;
	width: 80px;
}

.field_large {
    color: grey;
    float: left;
	width: 160px;
}

.line_clear {
	background-color: white;
	width: 240px;
}

.line_gray {
	background-color: lightgray;
	width: 240px;
}

.list_header {
	background-color: darkgray;
	foreground: white;
	width: 240px;
}
